.App {

  padding: 20px;
  background-color: #080808;
  min-height: 100vh;
}

h1 {
  color: #e1dcdc;
    text-align: center;
  margin-bottom: 30px;
  justify-content: center;
}

.incrementButton{
   background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
 
}

.decrementalButton{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.toggleButton{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.countStyle{
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.counterContainer{
    text-align: center;
  margin-bottom: 50px;
}
.counterBox{
  border: 2px solid #e1dcdc;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  background-color: #211871;
}

.todoContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.todoBox {
  border: 2px solid #e1dcdc;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  background-color: #211871;
}

.todoInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  outline: none;
}

.todoSubmit {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
